[Desktop Entry]
Categories=Development;
Comment[en_US]=
Comment=
Exec=shvspy
GenericName[en_US]=
GenericName=
Icon=shvspy
MimeType=
Name[en_US]=ShvSpy
Name=ShvSpy
Path=
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
